

:root{
    --primary-color:#22d3ee;
}


body{
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 700;
margin: 0;



}



.Sidebar{

    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}
.Projects{
   grid-column: 2-4;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    background-color: gainsboro;
   
}

.navbar{
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}
.user-stats{
    display: flex;
    align-items: center;
  
   
}

.stats{
    padding: 1.5rem;
    color: black;
}

.navbar input{
    background-color:rgb(235, 235, 235);
    width: 40vw;
    border-color: transparent;
    border-radius: 10%;
    margin-left: 1.5rem;
    
   
    
}
h3{
    color: black;
}
h4{
    color: black;
}

.User-box{
    display:flex;
}
.Username::before{
content: "Hi there,";
font-size:small ;
position: absolute;
top: 11%;

}
.Header{}
.user-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding-right: 0.6rem;
}

.User{
display: flex;
align-items: center;
justify-content: space-around;
}
.user-buttons{
    margin-left: 17vw;
}
.primary-button{
    color: white;
    background-color: var(--primary-color);
    border-radius: 33%;
    padding: 1rem;
    height: 3rem;
    width: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
   
}
.navbar ,.User{
    background-color: white;
}

.right-side{
    display: flex;
    flex-direction: column;
}
.Projects-Container{
    display:grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

        
.card {
    
       background-color: white;
       color: black;
       height: 10rem;
       padding-bottom: 1rem;
       border-left: 0.6rem orange solid;
      
}

 .Main{
    display: flex;
    justify-content: space-around;
 }

 .Announcements{

 }

 .simple-card{
    background-color: white;
    width: 15rem;
    height: 7rem;
    border-bottom: gray solid;
    
 }

 .simple-card-Trending{
    background-color: white;
display: flex;
width: 15rem;
height: 4rem;
border-bottom: gray solid;
color: black;
 }

 p{
    color: black;
    font-size:0.8rem;
    font-weight: 300;
 }



.Sidebar h3{
    color:white;
    margin-left: 1.4rem;
    
}

.Sidebar a{
    text-decoration: none;
    color:white;
    padding: 1.4rem;
}

#Settings{
    margin-top: 1rem;
}


@media only screen and (max-width: 600px) {
   :root{
    font-size: 10px;
   }
  }

